<section href="#blog"
    class="relative px-6 lg:px-28  mt-0 z-100  flex flex-col  py-6 mx-auto sm:py-16   text-center lg:text-left gap-y-4 font-manrope text-  lg:min-h-screen"
    >
    <!-- style="background-image: url('./assets/bg-blog.svg'); background-size: cover;" -->

<img
            src="./assets/bg-blog.svg"
            alt=""
            class="absolute left-0 top-5 w-[60%] lg:w-[45%] lg:top-[15%] lg:-left-[5%] -z-10"
            />

	<div class=" flex flex-col lg:pl-24 gap-y-4 lg:gap-y-8 lg:mt-8 items-center lg:items-start mt-6 ">
		<p class="font-semibold tracking-widest uppercase">blog</p>
		<h1 class="text-3xl font-bold lg:text-[56px] leading-tight capitalize text-center lg:text-start">
			Keep calm & read <span class="inline lg:block"> our articles </span>
		</h1>
	</div>
	<div class="flex flex-col mt-4 lg:mt-20 lg:flex-row gap-y-8 lg:gap-y-0">
        <div class="w-full lg:w-[60%] flex flex-col lg:flex-row  gap-y-6 ">
            <div class="w-full lg:w-[50%] flex justify-center lg:justify-start ">
                <div class="w-[70%] lg:w-full">
                    <img src="./assets/girl-reaching.svg" class="" />
                </div>
            </div>
           
            <div class="  w-full lg:w-[50%] flex flex-col gap-y-2 lg:gap-y-4 lg:px-4 lg:pr-14 justify-end pb-10 text-grey font-bold">
                <h2 class="text-[20px] lg:text-[24px] px-5 lg:px-0">On deer horse aboard tritely yikes and much</h2>
                <p class="lg:text-[16px] text-sm font-roboto-slab lg:pr-6 opacity-45 font-semibold px-5 lg:px-0 leading-loose">When she reached the first hills of the Italic Mountains, she had a last view back.</p>
                <div class="flex font-roboto-slab mt-2 lg:mt-4 lg:justify-start justify-center">
                    <div class="flex flex-row gap-x-2 items-center ">

                        <p class="text-base font-semibold">Read more</p>
                        <p class="text-xl font-bold -mt-1 ">⟶</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="w-full lg:w-[40%]    flex flex-col justify-between   text-grey font-roboto-slab">
            <div class="hidden lg:flex flex-row  justify-between ">
                <div class="flex flex-col gap-y-6 lg:w-[208px]">
                                        
                    <img src="./assets/blog-8.svg" alt="" class="w-[80%] lg:w-full" />
                    <p class="lg:text-[20px] text-base font-semibold text-start">Overlaid the jeepers uselessly </p>
                </div>
                <div class="flex flex-col gap-y-6   lg:w-[208px] justify-end">
                    
                    <img src="./assets/blog-fireworks.svg" alt="" class="w-[80%] lg:w-full" />
                    <p class="lg:text-[20px] text-base font-semibold text-start">Behind the word mountains </p>
                </div>

            </div>
            <div class="flex flex-row justify-between mt-0 lg:mt-0 mx-4 lg:mx-0  gap-x-8 p-6 lg:p-12  bg-blue rounded-lg">
                
                <div class="">
                    <img src="./assets/blog-yes.svg" alt="" />
                </div>
                <div class="flex font-bold flex-col gap-y-2 justify-center text-left text-white ">
                    <p class="text-sm lg:text-[20px]">Sentences into you</p>
                    <p class="text-xs lg:text-base opacity-50">Even the all-powerful Pointing has no control about</p>
                </div>
            </div>
        </div>
    </div>
</section>
