<!-- FOOTER -->
<footer  class="bg-blueDark text-white pt-12 py-10 ">
    <div
        class="mx-auto px-4 container overflow-hidden flex flex-col lg:flex-row pb-10"
    >
        <h2 class="uppercase text-3xl w-1/4 md:text-4xl font-manrope font-bold">
            PTF
        </h2>
        <div class="flex text-sm flex-row mt-6 lg:mt-0 w-full justify-between">
            <ul class="list-none p-0 font-base font-roboto-slab flex flex-col w-full">
                <li
                    class="inline-block py-2 text-white uppercase text-sm font-bold tracking-wide font-manrope lg:text-base "
                >
                    Service
                </li>
                <li>
                    <a
                        href="#"
                        class="inline-block font-roboto-slab font-bold py-2 hover:text-white no-underline text-xs lg:text-sm"
                        >About</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="inline-block font-roboto-slab font-bold py-2 hover:text-white no-underline text-xs lg:text-sm"
                        >Portfolio</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="inline-block font-roboto-slab font-bold py-2 hover:text-white no-underline text-xs lg:text-sm"
                        >Blog</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="inline-block font-roboto-slab font-bold py-2 hover:text-white no-underline text-xs lg:text-sm"
                        >Contact</a
                    >
                </li>
            </ul>
            <ul
                class="list-none p-0 font-base font-roboto-slab flex flex-col text-left w-full"
            >
                <li
                    class="inline-block py-2 text-white uppercase lg:text-base font-bold tracking-wide font-manrope text-sm"
                >
                    MENU
                </li>
                <li>
                    <a
                        href="#"
                        class="inline-block font-roboto-slab font-bold py-2 hover:text-white no-underline text-xs lg:text-sm"
                        >About</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="inline-block font-roboto-slab font-bold py-2 hover:text-white no-underline text-xs lg:text-sm"
                        >Portfolio</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="inline-block font-roboto-slab font-bold py-2 hover:text-white no-underline text-xs lg:text-sm"
                        >Blog</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="inline-block font-roboto-slab font-bold py-2 hover:text-white no-underline text-xs lg:text-sm"
                        >Contact</a
                    >
                </li>
            </ul>

            <div class="text-gray-700 flex flex-col w-full">
                <div
                    class="inline-block py-2 text-white uppercase font-medium tracking-wide"
                >
                    Follow Us
                </div>
                <div class="flex space-x-2 lg:space-x-4   mt-2">
                    <a
                        class="flex items-center text-golden hover:text-white no-underline"
                        href="#"
                    >
                        <img src="./assets/fb-icon.svg" alt="facebook" class="w-10 h-10" />
                    </a>
                    <a
                        class="flex items-center text-golden hover:text-white no-underline"
                        href="#"
                    >
                        <img src="./assets/twitter-icon.svg" alt="facebook" class="w-10 h-10" />
                    </a>
                    <a
                        class="flex items-center text-golden hover:text-white no-underline"
                        href="#"
                    >
                        <img src="./assets/instagram-icon.svg" alt="facebook" class="w-10 h-10" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div
        class="pt-4 mx-auto mt-4 flex flex-col lg:flex-row justify-between items-center gap-y-4 border-t border-white/20 text-center px-12 md:px-28  font-roboto-slab text-xs lg:text-sm"
    >
        <p class="text-white/60">&copy; 2021 Portfolio. All rights reserved.</p>
        <div class="flex flex-row gap-4">
            <a href="#" class=" "> Term of Service </a>
            <a href="#" class=""> Privacy Policy</a>
        </div>
    </div>
</footer>