<section href="#service"
	class="container mt-0 lg:mt-10 section-separator-all-col pl-0 font-manrope "
>
	<div class="flex flex-col lg:pl-24  lg:mt-8 mt-4">
		<p class="font-semibold tracking-widest uppercase">service</p>
		<h1 class="text-3xl font-bold lg:text-[56px] leading-tight capitalize">
			Explore our <span class="inline lg:block"> service </span>
		</h1>
	</div>
	<div
		class="flex flex-col lg:flex-row gap-y-12 lg:gap-y-0 lg:gap-x-24 text-white lg:mt-12 mx-8 lg:mx-0"
	>
		<!-- Developer friendly -->
		<div class="card mt-10 lg:mt-20 bg-golden">
			<div class="flex flex-col gap-y-4 justify-start items-start mt-4">
				<img
					src="./assets/service-developer-friendly.svg"
					alt="web design"
					class="w-1/2"
				/>
				<h2 class="text-xl lg:text-2xl font-bold capitalize pt-6 lg:pt-8">
					developer friendly
				</h2>
				<p class="opacity-50 font-semibold font-roboto-slab">
					Separated they live in right at the coast of the Semantics.
				</p>
				<div class="mt-8 lg:mt-24">
					<p class="font-semibold font-roboto-slab">
						Explore
						<span class="ml-2">
							<img
								src="./assets/arrow-right.svg"
								alt="arrow right"
								class="w-5 inline"
							/>
						</span>
					</p>
				</div>
			</div>
		</div>
		<!-- Community -->
		<div class="bg-blue card">
			<div class="flex flex-col gap-y-4 justify-start items-start mt-4">
				<img src="./assets/service-community.svg" alt="web design" class="w-1/2" />
				<h2 class="text-xl lg:text-2xl font-bold capitalize pt-6 lg:pt-8">
					Amazing Community
				</h2>
				<p class="opacity-50 font-semibold font-roboto-slab">
					Live in right at the coast of the Semantics, a large language.
				</p>
				<div class="mt-8 lg:mt-24">
					<p class="font-semibold font-roboto-slab text-xs lg:text-sm">
						Explore
						<span class="ml-2">
							<img
								src="./assets/arrow-right.svg"
								alt="arrow right"
								class="w-5 inline"
							/>
						</span>
					</p>
				</div>
			</div>
		</div>

		<!-- Support -->
		<div class="card bg-grey lg:-mt-20">
			<div class="flex flex-col gap-y-4 justify-start items-start mt-4">
				<img src="./assets/service-support.svg" alt="web design" class="w-1/2" />
				<h2 class="text-xl lg:text-2xl font-bold capitalize pt-6 lg:pt-8">
					Expert Support
				</h2>
				<p class="opacity-50 font-semibold font-roboto-slab">
					At the coast of the Semantics, a large language ocean.
				</p>
				<div class="mt-8 lg:mt-24">
					<p class="font-semibold font-roboto-slab">
						Explore
						<span class="ml-2">
							<img
								src="./assets/arrow-right.svg"
								alt="arrow right"
								class="w-5 inline"
							/>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
