<section id="features"  class=" px-6 lg:px-0 mb-10   flex flex-col  gap-y-1 md:gap-y-2 lg:gap-y-10  2xl:gap-y-6 pt-14 lg:mt-20 text-primary rounded-md lg:min-h-screen relative   bg-no-repeat bg-cover" style="background-image: url('./assets/bg-features.svg')"
>
    <p class="container mt-8 lg:mt-28 mx-auto text-4xl lg:text-[56px] text-left  font-medium  font-inria-serif tracking-wide">
        Features
    </p>
    <div class="  container  py-10 grid grid-cols-1    md:grid-cols-2 gap-6 lg:gap-x-14 gap-y-16 2xl:gap-20 lg:grid-cols-3  lg:grid-rows-2 mx-auto">
        <div class="cursor-pointer flex flex-col  gap-y-4 items-center lg:items-start ">
            <div class="">
                <img src="./assets/feature-icon-1.svg" alt="icon-features-1" class="mx-auto" />
            </div>
           <p class="text-2xl font-inria-serif font-bold">Email marketing</p>
           <p class="text-base font-open-sans text-primaryExtraLight font-semibold leading-loose">
            A peep at some distant orb has power to raise and purify our thoughts like.
           </p>
        </div>
        <div class="cursor-pointer flex flex-col  gap-y-4 items-center lg:items-start ">
            <div class="">
                <img src="./assets/feature-icon-2.svg" alt="icon-features-2" class="mx-auto" />
            </div>
           <p class="text-2xl font-inria-serif font-bold">User Analytics</p>
           <p class="text-base font-open-sans text-primaryExtraLight font-semibold leading-loose">
            A peep at some distant orb has power to raise and purify our thoughts like.
           </p>
        </div>
        <div class="cursor-pointer flex flex-col  gap-y-4 items-center lg:items-start ">
            <div class="">
                <img src="./assets/feature-icon-3.svg" alt="icon-features-3" class="mx-auto" />
            </div>
           <p class="text-2xl font-inria-serif font-bold">Security</p>
           <p class="text-base font-open-sans text-primaryExtraLight font-semibold leading-loose">
            A peep at some distant orb has power to raise and purify our thoughts like.
           </p>
        </div>
        <div class="cursor-pointer flex flex-col  gap-y-4 items-center lg:items-start ">
            <div class="">
                <img src="./assets/feature-icon-4.svg" alt="icon-features-4" class="mx-auto" />
            </div>
           <p class="text-2xl font-inria-serif font-bold">Integration</p>
           <p class="text-base font-open-sans text-primaryExtraLight font-semibold leading-loose">
            A peep at some distant orb has power to raise and purify our thoughts like.
           </p>
        </div>
        <div class="cursor-pointer flex flex-col  gap-y-4 items-center lg:items-start ">
            <div class="">
                <img src="./assets/feature-icon-5.svg" alt="icon-features-5" class="mx-auto" />
            </div>
           <p class="text-2xl font-inria-serif font-bold">Community</p>
           <p class="text-base font-open-sans text-primaryExtraLight font-semibold leading-loose">
            A peep at some distant orb has power to raise and purify our thoughts like.
           </p>
        </div>
        <div class="cursor-pointer flex flex-col  gap-y-4 items-center lg:items-start ">
            <div class="">
                <img src="./assets/feature-icon-6.svg" alt="icon-features-6" class="mx-auto" />
            </div>
           <p class="text-2xl font-inria-serif font-bold">Support</p>
           <p class="text-base font-open-sans text-primaryExtraLight font-semibold leading-loose">
            A peep at some distant orb has power to raise and purify our thoughts like.
           </p>
        </div>
        
    </div>
</section>  