<section id="ask"
    class="bg-primary  px-6  font-epilouge text-white lg:px-0 relative min-h-screen 2xl:h-auto justify-between flex flex-col lg:flex-row">
    <div class="mx-auto container">

        <div
            class="w-full  flex flex-col lg:flex-row mt-14 lg:-mt-20 justify-start 2xl:justify-between gap-y-8 gap-x-8">

            <div class="w-full rounded-xl  flex lg:justify-between text-center gap-y-3 justify-center flex-col lg:flex-row font-epilogue lg:px-10 py-8 lg:py-28 items-center"
                style="background-image: url('./assets/bg-ask-anything.svg'); width: 100%; background-size:cover; object-fit:cover;">
                <div class=" font-epilogue flex flex-col gap-y-1 lg:gap-y-4">
                    <p class="text-white text-2xl lg:text-4xl font-bold leading-relaxed">
                        Ask me Anything!
                    </p>
                    <p class="text-base">The sky was cloudless.</p>
                </div>
                <div class="lg:w-1/2 flex flex-row justify-end px-20">

                    <div
                        class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0  lg:justify-start text-center lg:pl-4 w-[180px] lg:w-[200px]">
                        <a rel="noopener noreferrer" href="#"
                            class="px-4 py-2 text-xs bg-primaryMedium  lg:px-8 lg:py-3 lg:text-base uppercase font-semibold rounded bg-golden hover:bg-yellow-500 transition duration-300 ease-in-out">contact
                            me</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
</section>