<section id="blog"
    class="bg-bgGreyMedium font-epilouge relative  justify-between pb-20 lg:pb-32 flex flex-col lg:flex-row  px-6 lg:px-0">
    <div class="mx-auto container relative">
        <div class="lg:mt-20  text-center  xl:mx-72 my-8 flex flex-col gap-y-8">
            <p class="uppercase text-primaryMedium tracking-wider text-xl font-semibold">
                my blog
            </p>
            <p class="text-3xl lg:xl:text-[56px] font-bold text-grey">latest articles</p>
            <p class="text-[20px] opacity-85 text-grey px-6 lg:px-28 font-semibold font-lato">
                The sky was cloudless and of a deep dark blue spectacle before us was indeed
                sublime.
            </p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3  gap-8 py-10 lg:mb-0 font-epilouge">
            <div class=" bg-auto bg-no-repeat bg-center h-[400px] lg:h-[448px] rounded-lg"
                style="background-image: url('./assets/medical-doctor.svg');">
                <div
                    class="flex flex-col p-8 lg:p-12 2xl:pl-20   mt-[50%] 2xl:mt-[40%] pb-10 font-thin gap-y-4 lg:gap-y-8 text-white">
                    <p class=" opacity-50  font-semibold capitalize font-lato">21 July 2020</p>
                    <p class="text-[30px] lg:text-[40px] font-bold  capitalize leading-tight font-epilouge">Your medical
                        records</p>

                </div>
            </div>
            <div class=" flex flex-col h-[300px] lg:h-[448px]">
                <div class="h-1/2  bg-cover bg-no-repeat bg-center rounded-t-lg"
                    style="background-image: url('./assets/pills.svg');"></div>
                <div class="h-1/2 flex flex-col gap-y-4 p-8 lg:p-12   font-thin   text-grey bg-white rounded-b-lg">
                    <p class=" opacity-50 text-sm  font-semibold capitalize font-lato">20 July 2020</p>
                    <p class=" font-bold text-[20px] lg:text-[25px]  capitalize leading-tight font-epilouge">Are drugs
                        the best
                        solution?
                    </p>

                </div>
            </div>
            <div class=" flex flex-col h-[400px] lg:h-[448px] gap-y-4">
                <div class="h-1/2 flex flex-col p-12   font-thin  gap-y-4 text-grey bg-white rounded-lg">
                    <p class=" opacity-50 text-sm  font-semibold capitalize font-lato">19 July 2020</p>
                    <p class=" font-bold text-[20px] lg:text-[25px]  capitalize leading-tight font-epilouge">2020 Best
                        USA Hospitals and
                        Clinics
                    </p>

                </div>
                <div class="h-1/2 flex flex-col p-12   font-thin  gap-y-4 text-grey bg-white rounded-lg">
                    <p class=" opacity-50 text-sm  font-semibold capitalize font-lato">18 July 2020</p>
                    <p class=" font-bold text-[20px] lg:text-[25px] capitalize leading-tight font-epilouge">It’s always
                        the word of mouth
                        that’s the best
                    </p>

                </div>
            </div>
        </div>
        <!-- Explore button -->
        <div class="flex justify-center mt-10">
            <a rel="noopener noreferrer" href="#"
                class="px-4 py-2 text-xs border border-primaryMedium text-primaryMedium   lg:px-8 lg:py-3 lg:text-base uppercase font-semibold rounded bg-golden hover:bg-secondary transition duration-300 ease-in-out">explore
                blog</a>
        </div>

        <!-- Companies list -->
        <div class="grid grid-cols-3 lg:grid-cols-5 gap-6 mt-8 lg:mt-28">
            <img src="./assets/logo-digitalside.svg" alt="Company Logo 1" class="w-24 opacity-40 lg:w-40" />
            <img src="./assets/logo-vortex.svg" alt="Company Logo 1" class="w-20 opacity-40 lg:w-[100px]" />
            <img src="./assets/logo-travel.svg" alt="Company Logo 1" class="w-20 opacity-40 lg:w-[120px] " />
            <img src="./assets/logo-fuzion.svg" alt="Company Logo 1" class="w-16 opacity-40 lg:w-[80px]" />
            <div class="flex flex-row justify-center">
                <img src="./assets/logo-media.svg" alt="Company Logo 1" class="w-20 opacity-60 lg:w-[100px]" />
            </div>
        </div>



    </div> <!-- End of container -->

</section>