<section id="contact"
    class="bg-bgGreyMedium font-epilouge   justify-between lg:mb-20  flex flex-col lg:flex-row  px-6 lg:px-0">
    <div class="mx-auto container  relative">
        <div class=" -mb-24 lg:-mb-56 flex flex-col lg:flex-row gap-8">
            <div class="w-full flex flex-col lg:flex-row  justify-start 2xl:justify-between gap-y-8 gap-x-8">
                <!-- 1st card -->
                <div class="lg:w-1/2 rounded-xl  flex lg:justify-between  gap-y-3  justify-center flex-col lg:flex-row font-epilogue lg:px-10 py-8 lg:pt-8 xl:py-16  px-9  bg-cover"
                    style="background-image: url('./assets/bg-contact-me.svg');">

                    <div class="text-white font-epilogue flex flex-col gap-y-1 lg:gap-y-4 ">
                        <p class=" text-xl lg:text-4xl font-bold leading-relaxed">
                            +1 (234) 567-89-00
                        </p>
                        <p class="hidden lg:block text-sm lg:text-base text-left">Call to Me if You have any questions!
                        </p>

                        <div
                            class="flex flex-col space-y-4 mt-4 lg:mt-14 sm:items-center sm:justify-center sm:flex-row sm:space-y-0  lg:justify-start text-center w-[180px] lg:w-[200px]">
                            <a rel="noopener noreferrer" href="#"
                                class="px-4 py-2 text-xs bg-primaryMedium  lg:px-8 lg:py-3 lg:text-base uppercase font-semibold rounded bg-golden hover:bg-primary transition duration-300 ease-in-out">contact
                                me</a>
                        </div>

                    </div>

                </div>
                <!-- 2nd card -->
                <div class="lg:w-1/2 rounded-xl  flex lg:justify-between  gap-y-3  justify-center flex-col lg:flex-row font-epilogue lg:px-10 py-8 lg:pt-8 xl:py-16 px-9   bg-cover"
                    style="background-image: url('./assets/map.svg');">

                    <div class="text-white font-epilogue flex flex-col gap-y-1 lg:gap-y-4 ">
                        <p class=" text-xl lg:text-4xl font-bold leading-relaxed">
                            Visit
                        </p>
                        <p class="text-sm lg:text-base text-left">C80 Fulton Ave. Lorain, OH 44052</p>

                        <div
                            class="flex flex-col space-y-4 mt-4 lg:mt-14 sm:items-center sm:justify-center sm:flex-row sm:space-y-0  lg:justify-start text-center w-[180px] lg:w-[200px]">
                            <a rel="noopener noreferrer" href="#"
                                class="px-4 py-2 text-xs border border-white/30  lg:px-8 lg:py-3 lg:text-base uppercase font-semibold rounded bg-golden hover:bg-primary transition duration-300 ease-in-out">watch
                                on map</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>
</section>