<section
	id="features"
	class="bg-bgGreyMedium font-epilouge lg:px-0 relative min-h-screen justify-between flex flex-col lg:flex-row"
>
	<div class="mx-auto container">
		<div class="mt-32 lg:mt-0 text-center  xl:mx-72 my-8 flex flex-col gap-y-8">
			<p class="uppercase text-primaryMedium tracking-wider text-xl font-semibold">
				why chose me
			</p>
			<h1 class="text-3xl lg:xl:text-[56px] font-bold text-primaryDark">Explore Features</h1>
			<p class="text-[20px] opacity-85 text-grey px-6 lg:px-28 font-semibold font-lato">
				The sky was cloudless and of a deep dark blue spectacle before us was indeed
				sublime.
			</p>
		</div>
		<div class="flex flex-col md:flex-row pt-10 justify-between gap-y-8 gap-x-4 lg:mr-32">
			<!-- First card -->
			<div
				class="md:w-auto lg:w-[270px] h-[240px] rounded-xl  flex flex-col  lg:flex-row lg:justify-between font-epilogue"
			>
				<div
					class="flex flex-col h-full justify-around px-8 gap-y-4 items-center lg:items-start  rounded-sm lg:text-left"
				>
					<div class=" ">
						<img src="./assets/icon-redcross.svg" alt="doctor" />
					</div>
					<div class=" ">
						<h1 class="text-xl lg:text-2xl font-bold text-grey">Professional</h1>
					</div>
                    <p class="text-grey opacity-60 font-semibold text-sm font-lato text-center lg:text-left  leading-6">
                        Power to raise and purify our thoughts like a strain of sacred music, or a noble picture, or a passage.				</div>
			</div>
			<!-- Second card -->
			<div
				class="md:w-auto lg:w-[270px] h-[240px] rounded-xl  flex flex-col  lg:flex-row lg:justify-between font-epilogue"
			>
				<div
					class="flex flex-col h-full justify-around px-8 gap-y-4 items-center lg:items-start  rounded-sm lg:text-left"
				>
					<div class=" ">
						<img src="./assets/icon-heart-beat-checker.svg" alt="doctor" />
					</div>
					<div class=" ">
						<h1 class="text-xl lg:text-2xl font-bold text-grey">Affordable</h1>
					</div>
                    <p class="text-grey opacity-60 font-semibold text-sm font-lato text-center lg:text-left  leading-6">
                        Raise and purify our thoughts like a strain of sacred music, or a noble picture, or a passage.				</div>
			</div>
			<!-- Third card -->
			<div
				class="md:w-auto lg:w-[270px] h-[240px] rounded-xl  flex flex-col  lg:flex-row lg:justify-between font-epilogue"
			>
				<div
					class="flex flex-col h-full justify-around items-center lg:items-start  px-8 gap-y-4 rounded-sm lg:text-left"
				>
					<div class=" ">
						<img src="./assets/icon-nideel.svg" alt="doctor" />
					</div>
					<div class="">
						<h1 class="text-xl lg:text-2xl font-bold text-grey">Great Facilities</h1>
					</div>
                    <p class="text-grey opacity-60 font-semibold text-sm font-lato text-center lg:text-left  leading-6">
                        Purify our thoughts like a strain of sacred music, or a noble picture, or a passage from the grander poets.				</div>
			</div>
			
		</div>
	</div>
</section>
