<section id="gallery"
    class="overflow-hidden bg-bgGreyMedium  px-6  font-epilouge text-grey lg:px-0 relative min-h-screen  lg:my-32  justify-between flex flex-col lg:flex-row">
    <div class="mx-auto container">
        <!-- You are in good hands -->
        <div
            class="relative container flex flex-col    justify-center py-6  mt-0 lg:mt-20 2xl:mt-48 lg:flex-row lg:justify-between   gap-y-4 gap-x-4">
            <div
                class="w-full lg:w-1/2 flex flex-col mt-10 justify-center items-center lg:items-start lg:mt-16 gap-y-6 p-6 rounded-sm  font-epilouge ">
                <p class="text-base font-semibold tracking-wider uppercase text-primaryMedium ">gallery</p>
                <h1 class="text-3xl font-bold leading-none lg:text-6xl text-center lg:text-left">
                    Watch Photos Our Healthcare Clinic </h1>
                <div class="flex flex-col gap-y-2">
                    <div class="flex flex-row gap-x-2">
                        <div class="text-primaryMedium opacity-60">●</div>
                        <div class="font-lato text-sm lg:text-base">Power to raise and purify our thoughts like</div>
                    </div>
                    <div class="flex flex-row gap-x-2">
                        <div class="text-primaryMedium opacity-60">●</div>
                        <div class="font-lato text-sm lg:text-base">Like a strain of sacred music, or a noble picture
                        </div>
                    </div>
                    <div class="flex flex-row gap-x-2">
                        <div class="text-primaryMedium opacity-60">●</div>
                        <div class="font-lato text-sm lg:text-base">Grander poets to raise and purify our thoughts</div>
                    </div>
                </div>
                <div
                    class="flex flex-col mt-8 space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 lg:justify-start
                                                                                                                                                                                                                                                                                                            text-center  w-[180px] lg:w-[200px]">
                    <a rel="noopener noreferrer" href="#"
                        class="px-4 py-2 text-xs bg-primaryMedium text-white   lg:px-8 lg:py-3 lg:text-base uppercase font-semibold rounded bg-golden hover:bg-secondary transition duration-300 ease-in-out">explore</a>
                </div>
            </div>
            <div
                class="lg:absolute lg:top-0 lg:-right-28 2xl:-right-56 w-full  lg:w-1/2 flex justify-center mt-14 lg:mt-0   ">
                <img src="./assets/gallery.svg" alt="" class="object-cover" />
            </div>
        </div>

    </div>


</section>