<!-- ABOUT SECTION -->
<section class="mt-0 lg:mt-10 " href="#about">
	<div
		class="container flex flex-col-reverse justify-center py-6 mx-auto sm:py-12 lg:flex-row lg:justify-between text-center lg:text-left gap-y-4">
		<div class="flex justify-center mt-4 lg:mt-0">
			<img src="./assets/about.svg" alt="" class="object-cover w-[500px] lg:w-[600px]" />
		</div>
		<div
			class="flex flex-col mt-10 lg:mt-16 gap-y-6 p-6 rounded-sm lg:max-w-md xl:max-w-lg lg:text-left font-manrope text-grey">
			<p class="text-base font-semibold tracking-wider uppercase">About</p>
			<h1 class="text-3xl font-bold leading-none lg:text-5xl">
				Most Exciting Startup Agency
			</h1>
			<p class="mt-4 mb-4 text-sm lg:text-[16px] leading-loose font-roboto-slab opacity-65">
				Separated they live in Bookmarksgrove right at the coast of the Semantics,
				a large language. Separated they live in Bookmarksgrove right at the
				coast.
			</p>
			<div
				class="flex flex-col sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
				<a rel="noopener noreferrer" href="#"
					class="px-8 py-3 text-base uppercase font-semibold rounded bg-blue text-white hover:bg-yellow-600 transition duration-300 ease-in-out">about
					Us</a>
			</div>
		</div>
	</div>
</section>