<section id="testimonials"
    class="bg-primary  px-6 font-epilouge text-white lg:px-0 relative min-h-screen 2xl:h-auto justify-between flex flex-col lg:flex-row">
    <div class="mx-auto container">
        <div class="mt-20 lg:mt-36 text-center xl:mx-72 my-8 flex flex-col gap-y-8">
            <p class="uppercase tracking-wider opacity-60 text-xl font-semibold">
                testimonials
            </p>
            <h1 class="text-3xl lg:xl:text-[56px] font-bold">Our Clients Say</h1>
            <p class="text-[20px] opacity-85 px-6 lg:px-28 font-semibold font-lato">
                The sky was cloudless and of a deep dark blue spectacle before us was indeed
                sublime.
            </p>
        </div>
        <div class="flex flex-col lg:flex-row pt-10 justify-start 2xl:justify-between gap-y-8 gap-x-8 lg:mb-14">
            <!-- First card -->
            <div class="md:w-auto lg:w-[270px] rounded-xl bg-white flex flex-col lg:flex-row font-epilogue">
                <div
                    class="flex relative flex-col h-full justify-around gap-y-4 lg:gap-y-8 p-8 rounded-sm lg:text-left">

                    <div class="h-[10%]">
                        <img src="./assets/icon-qoute.svg" alt="doctor" />

                    </div>
                    <p class="text-grey/50 text-base font-medium leading-relaxed">
                        "Even the all-powerful Pointing has no control about the blind texts it is
                        an almost unorthographic life One day however a small line."
                    </p>
                    <div class="flex flex-row gap-4 justify-self-end h-[20%]">
                        <img src="./assets/avatar-1.svg" alt="doctor" class="w-12 h-12 rounded-full" />
                        <div class="flex flex-col  gap-y-2">
                            <h1 class="text-base font-bold text-grey font-lato">Artem Sazonov</h1>
                            <img src="./assets/icon-stars.svg" class="w-[85%]" alt="doctor" />

                        </div>
                    </div>
                </div>
            </div>
            <!-- Second card -->
            <div class="md:w-auto lg:w-[270px] rounded-xl bg-white flex flex-col lg:flex-row font-epilogue">
                <div class="flex relative flex-col h-full   gap-y-4 lg:gap-y-8 p-8 rounded-sm lg:text-left">

                    <div class="h-[10%]">
                        <img src="./assets/icon-qoute.svg" alt="doctor" />

                    </div>
                    <p class="text-grey/50 text-base font-medium leading-relaxed self-start h-full">
                        "Has no control about the blind texts it is an almost unorthographic."
                    </p>
                    <div class="flex flex-row gap-4 justify-self-end h-[20%]">
                        <img src="./assets/avatar-2.svg" alt="doctor" class="w-12 h-12 rounded-full" />
                        <div class="flex flex-col  gap-y-2">
                            <h1 class="text-base font-bold text-grey font-lato">Chioke Chinasa</h1>
                            <img src="./assets/icon-stars.svg" class="w-[85%]" alt="doctor" />

                        </div>
                    </div>
                </div>
            </div>

            <!-- Third card -->
            <div class="md:w-auto lg:w-[270px] rounded-xl bg-white flex flex-col lg:flex-row font-epilogue">
                <div class="flex relative flex-col h-full   gap-y-4 lg:gap-y-8 p-8 rounded-sm lg:text-left">

                    <div class="h-[10%]">
                        <img src="./assets/icon-qoute.svg" alt="doctor" />

                    </div>
                    <p class="text-grey/50 text-base font-medium leading-relaxed self-start h-full">
                        "About the blind texts it is an almost unorthographic life One day however a small line of blind
                        text by the name." </p>
                    <div class="flex flex-row gap-4 justify-self-end h-[20%]">
                        <img src="./assets/avatar-3.svg" alt="doctor" class="w-12 h-12 rounded-full" />
                        <div class="flex flex-col  gap-y-2">
                            <h1 class="text-base font-bold text-grey font-lato">Huo Shu</h1>
                            <img src="./assets/icon-stars.svg" alt="doctor" />

                        </div>
                    </div>
                </div>
            </div>

            <!-- Fourth card -->
            <div class="md:w-auto lg:w-[270px] rounded-xl bg-white flex flex-col lg:flex-row font-epilogue">
                <div class="flex relative flex-col h-full   gap-y-4 lg:gap-y-8 p-8 rounded-sm lg:text-left">

                    <div class="h-[10%]">
                        <img src="./assets/icon-qoute.svg" alt="doctor" />

                    </div>
                    <p class="text-grey/50 text-base font-medium leading-relaxed self-start h-full">
                        "One day however a small line of blind text by the name of Lorem Ipsum."</p>
                    <div class="flex flex-row gap-4 justify-self-end h-[20%]">
                        <img src="./assets/avatar-4.png" alt="doctor" class="w-12 h-12 rounded-full" />
                        <div class="flex flex-col  gap-y-2">
                            <h1 class="text-base font-bold text-grey font-lato">Jontray Arnold</h1>
                            <img src="./assets/icon-stars.svg" class="w-[85%]" alt="doctor" />

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center  flex-row  gap-x-2 my-8 lg:mb-64 mb:10">
            <div class="h-[7px] w-[16px] rounded-full bg-secondary"></div>
            <div class="h-[7px] w-[7px] rounded-full bg-white/50"></div>
            <div class="h-[7px] w-[7px] rounded-full bg-white/50"></div>
        </div>

    </div>
</section>