<section id="featured-properties-real-estate-1" class="font-kanit    flex flex-col  px-6 lg:px-0">
    <!-- Heading -->
    <div class="mx-auto container ">
        <div class="my-16 lg:my-20 lg:pt-2 mx-8 lg:mx-0    flex flex-col lg:gap-y-8 gap-y-4 text-center lg:text-left">
            <p class="text-3xl lg:xl:text-[56px] font-bold text-grey">Featured Properties</p>
            <p class="text-sm lg:text-[20px] opacity-60 text-grey  font-extralight font-josefin">
                Explore our latest hot offers
            </p>
        </div>
    </div>
    <!-- For bigger screens -->
    <div
        class="hidden lg:grid  lg:grid-cols-[205px_270px_270px_300px_auto]   grid-cols-1 md:grid-cols-2 gap-x-6 lg:gap-x-6 xl:gap-x-12 2xl:gap-x-40 font-kanit 2xl:mx-auto mx-1 ">
        <!-- Card 1 -->
        <div class="cursor-pointer flex flex-coljustify-between md:items-start items-center shadow-2xl  bg-no-repeat bg-left h-[400px] lg:h-[464px]  rounded-lg  px-3 py-8 lg:px-6 lg:py-8 hover:-translate-y-16 transition-transform duration-300 ease-in-out"
            style="background-image: url('./assets/bg-gorgous-1.svg');">
            <div class="">
                <p class="text-white text-sm  font-extralight font-josefin">$5,990</p>
                <p class="text-white font-bold font-kanit text-lg">Gorgeous Home</p>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="cursor-pointer flex flex-col justify-between md:items-start items-center shadow-2xl  bg-no-repeat bg-center h-[400px] lg:h-[464px]  rounded-lg   py-8 lg:px-6 lg:py-8 hover:-translate-y-16 transition-transform duration-300 ease-in-out"
            style="background-image: url('./assets/bg-office.svg');">
            <div class="">
                <p class="text-white text-sm  font-extralight font-josefin">$2,450</p>
                <p class="text-white font-bold font-kanit text-lg">Office Space</p>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="cursor-pointer flex flex-col justify-between md:items-start items-center shadow-2xl  bg-no-repeat bg-center h-[400px] lg:h-[464px]  rounded-lg   py-8 lg:px-6 lg:py-8 hover:-translate-y-16 transition-transform duration-300 ease-in-out"
            style="background-image: url('./assets/bg-gorgous-2.svg'); ">
            <div class="">
                <p class="text-white text-sm  font-extralight font-josefin">$2,450</p>
                <p class="text-white font-bold font-kanit text-lg">Office Space</p>
            </div>
        </div>
        <!-- Card 4 -->
        <div
            class="cursor-pointer flex  bg-white shadow-lg flex-col justify-between md:items-start items-center  bg-no-repeat bg-center  lg:h-[460px]  rounded-lg overflow-hidden hover:-translate-y-16 transition-transform duration-300 ease-in-out" >
            <div class="flex h-[60%] w-full  bg-no-repeat bg-top bg-cover"
                style="background-image: url('./assets/bg-gorgous-3.svg');"></div>
            <div class="flex text-grey  flex-col p-6 gap-y-2 h-[40%] w-full">
                <p class="  font-bold font-kanit text-xl">Gorgeous Home</p>
                <p class=" font-bold font-kanit text-4xl border-b pb-5  border-b-slate-200/50">$2,099</p>
                <div class="flex flex-row gap-2 justify-between items-center">
                    <div class="flex flex-row gap-x-2 justify-between items-center">
                        <img src="./assets/icon-bed.svg" alt="phone" class="w-4" />
                        <p class="text-gery opacity-50   font-extralight font-josefin">2 bd</p>
                    </div>
                    <div class="flex flex-row gap-x-4">
                        <img src="./assets/icon-bf.svg" alt="phone" class="w-4" />
                        <p class="text-gery opacity-50   font-extralight font-josefin">2 ba</p>
                        </div>
                        <div class="flex flex-row gap-x-4">
                            <img src="./assets/icon-space.svg" alt="phone" class="w-4" />
                            <p class="text-gery opacity-50   font-extralight font-josefin">570 sq ft</p>
                    </div>
                </div>

            </div>

        </div>
        <!-- Card 5 -->
        <div class="cursor-pointer">

            <div class="cursor-pointer flex flex-col justify-between md:items-start items-center  shadow-2xl  bg-no-repeat bg-right h-[400px] lg:h-[464px]  px-6   rounded-lg  py-8  lg:py-8 hover:-translate-y-16 transition-transform duration-300 ease-in-out bg-cover "
                style="background-image: url('./assets/bg-gorgous-4.svg');">
                <div class="mx-auto">
                    <p class="text-white text-sm  font-extralight font-josefin">+844 3659 11 225</p>
                    <p class="text-white font-bold font-kanit text-lg">$5,000</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of bigger screens -->

    <!-- For smaller screens -->
    <div class="grid lg:hidden grid-cols-[300px]  md:grid-cols-[380px_380px] mx-auto  gap-6 ">
        <!-- Card 1 -->
        <div class="flex flex-col justify-between items-center text-center bg-no-repeat bg-cover bg-left-bottom h-[400px]   rounded-lg  p-6"
            style="background-image: url('./assets/bg-office.svg');">
            <div class="">
                <p class="text-white text-sm  font-extralight font-josefin">$2,450</p>
                <p class="text-white font-bold font-kanit text-lg">Office Space</p>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="flex flex-col justify-between items-center text-center   bg-no-repeat bg-cover bg-left-bottom h-[400px]   rounded-lg  p-6"
            style="background-image: url('./assets/bg-gorgous-2.svg');">
            <div class="">
                <p class="text-white text-sm  font-extralight font-josefin">$2,450</p>
                <p class="text-white font-bold font-kanit text-lg">Office Space</p>
            </div>
        </div>
        <!-- Card 3 -->
        <div
        class="flex flex-col  justify-between pb-6 items-center text-center  h-[400px]   rounded-lg shadow-lg overflow-hidden">
            <div class="flex h-[60%]  w-full  bg-no-repeat bg-top" style="background-image: url('./assets/bg-gorgous-3.svg');">
            </div>
            <div class="flex text-grey  flex-col p-4 gap-y-4 h-[40%] w-full">
                <p class="  font-bold font-kanit text-xl">Gorgeous Home</p>
                <p class=" font-bold font-kanit text-2xl  pb-6 border-b  border-b-slate-200/50">$2,099</p>
                <div class="flex flex-row gap-x-4">
                    <div class="flex flex-row gap-x-4">
                        <img src="./assets/icon-bed.svg" alt="phone" class="w-4" />
                        <p class="text-gery opacity-50 text-sm  font-extralight font-josefin">2 bd</p>
                    </div>
                    <div class="flex flex-row gap-x-4">
                        <img src="./assets/icon-bf.svg" alt="phone" class="w-4" />
                        <p class="text-gery opacity-50 text-sm  font-extralight font-josefin">2 bd</p>
                        </div>
                        <div class="flex flex-row gap-x-4">
                            <img src="./assets/icon-space.svg" alt="phone" class="w-4" />
                            <p class="text-gery opacity-50 text-sm  font-extralight font-josefin">570 sq ft</p>
                    </div>
                </div>

        </div>
        </div>
        <!-- Card 4 -->
        <div class="overflow-hidden">
        
            <div class="flex flex-col justify-between md:items-start items-start  bg-no-repeat bg-left bg-cover h-[400px] lg:h-[464px] px-6    rounded-lg  py-8  lg:py-8"
                style="background-image: url('./assets/bg-gorgous-4.svg');">
                <div class="">
                            <p class="text-white text-sm  font-extralight font-josefin">+844 3659 11 225</p>
                            <p class="text-white font-bold font-kanit text-lg">$5,000</p>
                            </div>
                            </div>
        </div>
        
        <!-- Card 5 -->
        <div class="md:hidden lg:flex flex-col justify-between items-end  bg-no-repeat bg-cover bg-left-bottom h-[400px] lg:h-[464px] px-6    rounded-lg  py-8  lg:py-8"
            style="background-image: url('./assets/bg-gorgous-1.svg');">
            <div class="">
                <p class="text-white text-sm  font-extralight font-josefin">$5,990</p>
                <p class="text-white font-bold font-kanit text-lg">Gorgeous Home</p>
            </div>
        </div>
    </div>

    <!-- End of smaller screens -->
    <div class="mx-auto container text-center pt-40 lg:-mt-20 mb-20">
        <div class="flex flex-row gap-x-4 justify-center lg:justify-start items-center">
            <p class="text-sm lg:text-lg opacity-60 text-grey  font-extralight font-josefin">
                Browse all
            </p>
            <img src="./assets/icon-explore.svg" alt="btn-explore" class="" />
        </div>
    </div>
</section>