<!-- FOOTER -->
<footer id="footer" class="bg-blueDark text-grey pt-12 py-10">
    <div class="mx-auto px-4 w-full container overflow-hidden grid grid-cols-2 grid-rows-2 lg:grid-cols-4 lg:grid-rows-1 
        lg:gap-x-16 gap-x-16 gap-y-4 pb-10">
        <!-- Company information -->
        <div class="flex flex-col w-full gap-y-4">
            <h2 class="uppercase text-3xl md:text-4xl font-kanit font-bold">RE</h2>

            <div class="text-gray-700 flex flex-col w-full gap-y-4 lg:gap-y-8">
                <p
                    class="inline-block py-2 hover:text-primary no-underline text-sm lg:text-base font-kanit font-extralight">
                    42 Nine Avenue, 7/3 Floor <br />
                    San Francisco, CA 1980
                </p>
                <div class="flex space-x-2 lg:space-x-4 mt-2">
                    <a class="flex items-center text-golden hover:text-primary no-underline" href="#">
                        <img src="./assets/fb-icon.svg" alt="facebook" class="w-8 h-8 lg:w-10 lg:h-10 opacity-75" />
                    </a>
                    <a class="flex items-center text-golden hover:text-primary no-underline" href="#">
                        <img src="./assets/twitter-icon.svg" alt="facebook"
                            class="w-8 h-8 lg:w-10 lg:h-10 opacity-75" />
                    </a>
                    <a class="flex items-center text-golden hover:text-primary no-underline" href="#">
                        <img src="./assets/instagram-icon.svg" alt="facebook"
                            class="w-8 h-8 lg:w-10 lg:h-10 opacity-75" />
                    </a>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div class="flex text-sm flex-row mt-0  lg:mt-0 w-full justify-between">
            <ul class="list-none p-0 font-base font-kanit flex flex-col w-full">
                <li
                    class="inline-block py-2 text-grey uppercase text-sm font-bold tracking-wide font-kanit lg:text-base">
                    Menu
                </li>
                <li>
                    <a href="#"
                        class="inline-block py-2 hover:text-primary no-underline text-xs lg:text-sm font-kanit font-extralight">Home</a>
                </li>
                <li>
                    <a href="#"
                        class="inline-block py-2 hover:text-primary no-underline text-xs lg:text-sm font-kanit font-extralight">Services</a>
                </li>
                <li>
                    <a href="#"
                        class="inline-block py-2 hover:text-primary no-underline text-xs lg:text-sm font-kanit font-extralight">Features</a>
                </li>
                <li>
                    <a href="#"
                        class="inline-block py-2 hover:text-primary no-underline text-xs lg:text-sm font-kanit font-extralight">Pricing</a>
                </li>
                <li>
                    <a href="#"
                        class="inline-block py-2 hover:text-primary no-underline text-xs lg:text-sm font-kanit font-extralight">Blog</a>
                </li>
            </ul>
        </div>
        <!-- Menu continued -->
        <div class="flex text-sm flex-row mt-6 lg:mt-0 w-full justify-between">
            <ul class="list-none p-0 font-base font-kanit flex flex-col text-left w-full">
                <li
                class="inline-block py-2 text-grey uppercase text-sm font-bold tracking-wide font-kanit lg:text-base">
                Navigate
            </li>
                <li>
                    <a href="#"
                        class="inline-block py-2 hover:text-primary no-underline text-xs lg:text-sm font-kanit font-extralight">About</a>
                </li>
                <li>
                    <a href="#"
                        class="inline-block py-2 hover:text-primary no-underline text-xs lg:text-sm font-kanit font-extralight">Guide</a>
                </li>
                <li>
                    <a href="#"
                        class="inline-block py-2 hover:text-primary no-underline text-xs lg:text-sm font-kanit font-extralight">Support</a>
                </li>
                <li>
                    <a href="#"
                        class="inline-block py-2 hover:text-primary no-underline text-xs lg:text-sm font-kanit font-extralight">Contact</a>
                </li>
                <li>
                    <a href="#"
                        class="inline-block py-2 hover:text-primary no-underline text-xs lg:text-sm font-kanit font-extralight">Agents</a>
                </li>
            </ul>
        </div>
        <!-- Subscribe -->
        <div class="flex text-sm flex-col gap-y-6 mt-6 lg:mt-0 w-full">
            <div class="inline-block  text-grey capitalize lg:text-2xl font-bold tracking-wide font-kanti text-sm">
                Subscribe
            </div>
            <p
                class="hidden lg:inline-block  hover:text-primary text-lg lg:text-xl text-grey/50 font-kanit font-extralight">
                Get latest news & update
            </p>
            <input type="text"
                class="w-full py-2 px-4 border border-gray-300 text-grey font-extralight bg-white rounded-md shadow-sm focus:outline-none  font-josefin text-xs lg:text-sm"
                placeholder="Your email" />

            <div class="flex justify-center ">
                <div class="w-full text-center text-white rounded-md py-2 px-4 font-josefin"
                    style="background-image: url('./assets/btn-rectangle.svg');">
                    <button class="  font-light text-xs lg:text-sm text-center">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-4 mx-auto mt-4 flex flex-col px-12 md:px-28 text-lg">
        <div class="h-8 w-full border-t border-slate-200"></div>
        <div
            class="flex flex-col lg:flex-row justify-between items-center gap-y-4 text-center text-grey opacity-40 font-josefin font-extralight text-sm lg:text-lg">
            <p class="">2019 RE. All rights reserved.</p>
            <div class="flex flex-row gap-4">
                <a href="#" class=" "> Crafted by Laaqiq </a>
            </div>
        </div>
    </div>
</footer>