<section id="connect" class="container px-6 lg:px-0  mx-auto flex flex-col  gap-y-1 md:gap-y-2 lg:gap-y-10  2xl:gap-y-6overflow-hidden text-primary">

    <div class="text-white font-semibold flex flex-col lg:flex-row    rounded-2xl px-8 py-2  pb-10 lg:pb-24 text-center lg:text-left" style="background-image: url('./assets/bg-testimonials.svg'); width: 100%; background-size: cover;">
        <div class="flex flex-col gap-y-4 w-full lg:w-[50%] lg:px-20  pt-4 lg:pt-32">
            <!-- <p class="uppercase text-xs lg:text-lg ">let's work</p> -->
            <p class="capitalize text-xl md:text-[32px] lg:text-[56px] leading-tight lg:pr-20">
                Just connect with us
            </p>
            <p class="text-xs md:text-sm lg:text-base font-bold px-0  leading-relaxed text-primaryExtraLight font-open-sans tracking-wide lg:pr-20">
                Distant orb has power to raise and purify our thoughts like a strain of sacred music, or a noble picture.
               </p>
            
        </div>
        <div class="flex flex-col p-4 lg:p-10 mx-auto bg-white rounded-lg w-full lg:w-[40%] justify-center items-center lg:justify-start lg:items-start   gap-y-4 gap-x-0 lg:gap-x-4 mt-2 lg:mt-16 pb-4 ">
            <div class="flex flex-col gap-y-4 mt-4 w-full">
            <input type="email" placeholder="Your email" class=" border border-slate-300 text-grey/50 py-2 pl-4  lg:pl-4 lg:py-3  rounded-md font-normal lg:font-semibold   text-xs lg:text-base">
            <textarea class="border border-slate-300 rounded-md p-4" placeholder="message"></textarea>
            <div
					class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0  lg:justify-start text-center"
				>
					<a
						rel="noopener noreferrer"
						href="#"
						class="w-full px-4 py-2 text-xs bg-secondary text-white  lg:px-8 lg:py-3 lg:text-base uppercase font-semibold rounded bg-golden hover:bg-primary transition duration-300 ease-in-out"
						>Submit</a
					>
				</div>
            </div>
        </div>
    </div>
</section>
