<section id="ask"
    class="bg-primary  px-6  font-epilouge text-white lg:px-0 relative min-h-screen   justify-between flex flex-col lg:flex-row">
    <div class="mx-auto container">

        <div
            class="w-full  flex flex-col lg:flex-row mt-14 lg:-mt-32 2xl:-mt-48 justify-start 2xl:justify-between gap-y-8 gap-x-8">
            <div class="w-full rounded-xl  flex lg:justify-between text-center gap-y-3  justify-center flex-col lg:flex-row font-epilogue lg:px-10 py-8 lg:py-16 xl:py-24 2xl:py-36 items-center"
                style="background-image: url('./assets/bg-ask-anything.svg'); width: 100%; background-size:cover; object-fit:cover;">
                <div class=" font-epilogue flex flex-col gap-y-1 lg:gap-y-4">
                    <p class="text-white text-2xl lg:text-4xl font-bold leading-relaxed">
                        Ask me Anything!
                    </p>
                    <p class="text-base">The sky was cloudless.</p>
                </div>
                <div class="lg:w-1/2 flex flex-row justify-end px-20">
                    <div
                        class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0  lg:justify-start text-center lg:pl-4 w-[180px] lg:w-[200px]">
                        <a rel="noopener noreferrer" href="#"
                            class="px-4 py-2 text-xs bg-primaryMedium  lg:px-8 lg:py-3 lg:text-base uppercase font-semibold rounded bg-golden hover:bg-primary transition duration-300 ease-in-out">contact
                            me</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- You are in good hands -->
        <div
            class="container flex flex-col-reverse   justify-center py-6 mx-auto mt-0 lg:mt-20 2xl:mt-48 lg:flex-row lg:justify-between text-center lg:text-left gap-y-4">
            <div class="flex justify-center mt-14 lg:mt-0 ">
                <img src="./assets/good-hands.svg" alt="" class="object-cover" />
            </div>
            <div
                class="flex flex-col mt-10 justify-center items-center lg:items-start lg:mt-16 gap-y-6 p-6 rounded-sm lg:max-w-md font-epilouge ">
                <p class="text-base font-semibold tracking-wider uppercase  opacity-60">About</p>
                <h1 class="text-3xl font-bold leading-none lg:text-6xl">
                    You Are In Good Hands </h1>
                <p class="mt-4 mb-4 text-sm lg:text-[16px] leading-loose font-lato opacity-65">
                    Our thoughts like a strain of sacred music, or a noble picture, or a passage from the grander poets. Power
                    to raise and purify our thoughts like a strain of sacred music.
                </p>
                <div
                    class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 lg:justify-start
                                                                                                                                                                                                                                                                                                                text-center  w-[180px] lg:w-[200px]">
                    <a rel="noopener noreferrer" href="#"
                        class="px-4 py-2 text-xs bg-primaryMedium  lg:px-8 lg:py-3 lg:text-base uppercase font-semibold rounded bg-golden hover:bg-secondary transition duration-300 ease-in-out">explore</a>
                </div>
            </div>
        </div>
    </div>
    </section>
