<div id="download-real-estate-1"
    class="bg-[#F5F5F5] pb-10  relative  text-grey lg:h-screen bg-contain lg:bg-cover lg:bg-center 2xl:bg-right-top bg-no-repeat "
    style="background-image: url('./assets/bg-download.svg'); ">

    <div
        class="flex flex-col gap-y-4 lg:gap-y-8 ml-[45%] lg:ml-[50%] pt-[30%] lg:pt-[15%] lg:px-32 justify-end  col-span-2 w-1/2">
        <h2 class="text-xl md:text-3xl lg:text-4xl xl:text-6xl font-kanit font-bold pr-10 text-center lg:text-left">Find
            a home on
            mobile
        </h2>
        <p class="hidden lg:block font-extralight  lg:text-xl tracking-widest">Everything you need to find a home on
            mobile.</p>
        <div class="flex flex-row gap-x-4 lg:gap-x-10">
            <div class="w1/2">
                <img src="./assets/btn-google-play.svg" alt="google-play" class="" />
            </div>
            <div class="w1/2">
                <img src="./assets/btn-apple-store.svg" alt="google-play" class="" />
            </div>
        </div>
    </div>
</div>