<section id="explore-real-estate-1"
    class="bg-white font-kanit mx-auto relative  justify-between pb-20 lg:pb-32 flex flex-col lg:flex-row  px-6 lg:px-0">
    <div class="mx-auto container relative">
        <div class="my-16 lg:my-20 lg:pt-2 mx-8 lg:mx-0    flex flex-col lg:gap-y-8 gap-y-4 text-center lg:text-left">
            <p class="text-3xl lg:xl:text-[56px] font-bold text-grey">Explore Our Cities</p>
            <p class="text-sm lg:text-[20px] opacity-60 text-grey  font-extralight font-josefin">
                Browse our comprehensive listings
            </p>
        </div>
        <div
            class="grid lg:grid-cols-3 lg:grid-rows-2 grid-cols-1 md:grid-cols-2  gap-y-8 lg:gap-14  md:gap-10    font-kanit overflow-hidden">
            <div class="flex flex-col justify-between md:items-start items-center  bg-no-repeat bg-left h-[300px] lg:h-[368px]  rounded-lg overflow-hidden px-6 py-8 lg:px-10 2xl:px-8 lg:py-8"
                style="background-image: url('./assets/bg-barcelona.svg');">
                <div class="">
                    <p class="text-white font-bold text-lg">Barcelona</p>
                    <p class="text-white text-sm font-normal">Spain</p>
                </div>
                <div class="">
                    <div class="p-3 bg-white text-sm w-32 rounded-full font-normal">147 properties</div>
                </div>
                </div>
                <div class="flex flex-col justify-between md:items-start items-center  bg-no-repeat bg-left h-[300px] lg:h-[368px]  rounded-lg overflow-hidden px-6 py-8 lg:px-10  2xl:px-8 lg:py-8"
                style="background-image: url('./assets/bg-newyork.svg');">
                <div class="">
                    <p class="text-white font-bold text-lg">New York</p>
                    <p class="text-white text-sm font-normal">USA</p>
                </div>
                <div class="">
                    <div class="p-3 bg-white text-sm w-32 rounded-full font-normal">258 properties</div>
                </div>
                </div>
                <div class="flex flex-col justify-between md:items-start items-center  bg-no-repeat bg-left h-[300px] lg:h-[368px]  rounded-lg overflow-hidden px-6 py-8 lg:px-10  2xl:px-8 lg:py-8"
                style="background-image: url('./assets/bg-london.svg');">
                <div class="">
                    <p class="text-white font-bold text-lg">London</p>
                    <p class="text-white text-sm font-normal">Great Britain</p>
                </div>
                <div class="">
                    <div class="p-3 bg-white text-sm w-32 rounded-full font-normal">225 properties</div>
                </div>
            </div>

            <!--  -->
            <div class="flex flex-col justify-between md:items-start items-center  bg-no-repeat bg-left h-[300px] lg:h-[368px]  rounded-lg overflow-hidden px-6 py-8 lg:px-10  2xl:px-8 lg:py-8"
                style="background-image: url('./assets/bg-oslo.svg');">
                <div class="">
                    <p class="text-white font-bold text-lg">Oslo</p>
                    <p class="text-white text-sm font-normal">Norway</p>
                </div>
                <div class="">
                    <div class="p-3 bg-white text-sm w-32 rounded-full font-normal">99 properties</div>
                </div>
            </div>
                <div class="flex flex-col justify-between md:items-start items-center  bg-no-repeat bg-left h-[300px] lg:h-[368px]  rounded-lg overflow-hidden px-6 py-8  2xl:px-8 lg:px-10 lg:py-8"
                style="background-image: url('./assets/bg-tokyo.svg');">
                <div class="">
                    <p class="text-white font-bold text-lg">Tokyo</p>
                    <p class="text-white text-sm font-normal">Japan</p>
                </div>
                <div class="">
                    <div class="p-3 bg-white text-sm w-32 rounded-full font-normal">258 properties</div>
                </div>
                </div>
                <div class="flex flex-col justify-between md:items-start items-center  bg-no-repeat bg-left h-[300px] lg:h-[368px]  rounded-lg overflow-hidden px-6 py-8  2xl:px-8 lg:px-10 lg:py-8"
                style="background-image: url('./assets/bg-paris.svg');">
                <div class="">
                    <p class="text-white font-bold text-lg">Paris</p>
                    <p class="text-white text-sm font-normal">France</p>
                </div>
                <div class="">
                    <div class="p-3 bg-white text-sm w-32 rounded-full font-normal">225 properties</div>
                </div>
            </div>
        </div> <!-- End of container -->
</section>