<section id="explore-real-estate-1"
    class="bg-white font-kanit relative  justify-between pb-20 lg:pb-32 flex flex-col lg:flex-row  px-6 lg:px-0">
    <div class="mx-auto container relative">
        <div class="my-16 lg:my-20 mx-8    flex flex-col lg:gap-y-8 gap-y-4 text-center lg:text-left">
            <p class="text-3xl lg:xl:text-[56px] font-bold text-grey">Explore Our Cities</p>
            <p class="text-sm lg:text-[20px] opacity-60 text-grey  font-extralight font-josefin">
                Browse our comprehensive listings
            </p>
        </div>
        <div
            class="grid lg:grid-cols-3 lg:grid-rows-2 grid-cols-1 md:grid-cols-2  gap-y-8 lg:gap-14  md:gap-10    font-kanit overflow-hidden">
            <div class=" bg-auto bg-no-repeat bg-center h-[300px] lg:h-[368px]  rounded-lg overflow-hidden"
                style="background-image: url('./assets/bg-barcelona.svg');">
            </div>
            <div class=" bg-auto bg-no-repeat bg-center h-[300px] lg:h-[368px] rounded-lg"
                style="background-image: url('./assets/bg-newyork.svg');">
            </div>
            <div class=" bg-auto bg-no-repeat bg-center h-[300px] lg:h-[368px] rounded-lg"
                style="background-image: url('./assets/bg-london.svg');">
            </div>

            <!--  -->
            <div class=" bg-auto bg-no-repeat bg-center h-[300px] lg:h-[368px] rounded-lg"
                style="background-image: url('./assets/bg-oslo.svg');">
            </div>
            <div class=" bg-auto bg-no-repeat bg-center h-[300px] lg:h-[368px] rounded-lg"
                style="background-image: url('./assets/bg-tokyo.svg');">
            </div>
            <div class=" bg-auto bg-no-repeat bg-center h-[300px] lg:h-[368px] rounded-lg"
                style="background-image: url('./assets/bg-paris.svg');">
            </div>
        </div> <!-- End of container -->
</section>