<section id="featured-properties-real-estate-1" class="font-kanit    flex flex-col  px-6 lg:px-0">
    <!-- Heading -->
    <div class="mx-auto container ">
        <div class="my-16 lg:my-20 lg:pt-2 mx-8 lg:mx-0    flex flex-col lg:gap-y-8 gap-y-4 text-center lg:text-left">
            <p class="text-3xl lg:xl:text-[56px] font-bold text-grey">Featured Properties</p>
            <p class="text-sm lg:text-[20px] opacity-60 text-grey  font-extralight font-josefin">
                Explore our latest hot offers
            </p>
        </div>
    </div>
    <!-- For bigger screens -->
    <div
        class="hidden lg:grid  lg:grid-cols-[205px_270px_270px_400px_auto]   grid-cols-1 md:grid-cols-2 gap-x-6 lg:gap-x-6 xl:gap-x-12 2xl:gap-x-40 font-kanit 2xl:mx-auto mx-1 ">
        <!-- Card 1 -->
        <div class="flex flex-coljustify-between md:items-start items-center  bg-no-repeat bg-left h-[400px] lg:h-[464px]  rounded-lg  px-3 py-8 lg:px-6 lg:py-8"
            style="background-image: url('./assets/bg-gorgous-1.svg');">
            <div class="">
                <p class="text-white text-sm  font-extralight font-josefin">$5,990</p>
                <p class="text-white font-bold font-kanit text-lg">Gorgeous Home</p>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="flex flex-col justify-between md:items-start items-center  bg-no-repeat bg-center h-[400px] lg:h-[464px]  rounded-lg   py-8 lg:px-6 lg:py-8"
            style="background-image: url('./assets/bg-office.svg');">
            <div class="">
                <p class="text-white text-sm  font-extralight font-josefin">$2,450</p>
                <p class="text-white font-bold font-kanit text-lg">Office Space</p>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="flex flex-col justify-between md:items-start items-center  bg-no-repeat bg-center h-[400px] lg:h-[464px]  rounded-lg   py-8 lg:px-6 lg:py-8"
            style="background-image: url('./assets/bg-gorgous-2.svg');">
            <div class="">
                <p class="text-white text-sm  font-extralight font-josefin">$2,450</p>
                <p class="text-white font-bold font-kanit text-lg">Office Space</p>
            </div>
        </div>
        <!-- Card 4 -->
        <div
            class="flex -translate-y-32 bg-white shadow-lg flex-col justify-between md:items-start items-center  bg-no-repeat bg-center  lg:h-[650px]  rounded-lg overflow-hidden">
            <div class="flex h-3/5  w-full  bg-no-repeat bg-top"
                style="background-image: url('./assets/bg-gorgous-3.svg');"></div>
            <div class="flex text-grey  flex-col p-6 gap-y-4 h-2/5 w-full">
                <p class="  font-bold font-kanit text-xl">Gorgeous Home</p>
                <p class=" font-bold font-kanit text-4xl  pb-6 border-b  border-b-slate-200/50">$2,099</p>
                <div class="flex flex-col gap-y-4">
                    <div class="flex flex-row gap-x-4">
                        <img src="./assets/icon-phone.svg" alt="phone" class="w-6" />
                        <p class="text-gery opacity-50 text-lg  font-extralight font-josefin">$2,099</p>
                    </div>
                    <div class="flex flex-row gap-x-4">
                        <img src="./assets/icon-mail.svg" alt="phone" class="w-6" />
                        <p class="text-gery   font-semibold font-josefin">Agent@gmail.com</p>
                    </div>
                </div>

            </div>

        </div>
        <!-- Card 5 -->
        <div class="overflow-hidden">

            <div class="flex flex-col justify-between md:items-start items-center  bg-no-repeat bg-right h-[400px] lg:h-[464px]  px-6   rounded-lg  py-8  lg:py-8"
                style="background-image: url('./assets/bg-gorgous-4.svg');">
                <div class="">
                    <p class="text-white text-sm  font-extralight font-josefin">+844 3659 11 225</p>
                    <p class="text-white font-bold font-kanit text-lg">$5,000</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of bigger screens -->

    <!-- For smaller screens -->
    <div class="grid lg:hidden grid-cols-[300px] gap-8 md:grid-cols-[300px_300px]   gap-y-6  mx-4">
        <!-- Card 1 -->
        <div
            class="flex flex-col  justify-between pb-6 items-center text-center  h-[400px]   rounded-lg shadow-lg overflow-hidden">
            <div class="flex h-3/5  w-full  bg-no-repeat bg-center"
                style="background-image: url('./assets/avatar-stephen.svg');">
            </div>

            <div class="flex text-grey  flex-col p-6 gap-y-3 h-2/5 w-full">
                <p class=" font-bold font-kanit text-2xl pb-6  border-b  border-b-slate-200/50">Stephen Shaw</p>
                <div class="flex flex-col gap-y-2">
                    <div class="flex flex-row gap-x-4">
                        <img src="./assets/icon-phone.svg" alt="phone" class="w-6" />
                        <p class="text-gery opacity-50 text-sm  font-extralight font-josefin">+987 7654 32 109</p>
                    </div>
                    <div class="flex flex-row gap-x-4">
                        <img src="./assets/icon-mail.svg" alt="phone" class="w-6" />
                        <p class="text-gery text-sm  font-semibold font-josefin">Agent@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="flex flex-col justify-between items-center text-center   bg-no-repeat bg-left h-[400px]   rounded-lg  p-6"
            style="background-image: url('./assets/avatar-radki.svg');">
            <div class="">
                <p class="text-white font-bold font-kanit text-lg">Gibby Radki</p>
                <p class="text-white text-sm  font-extralight font-josefin">USA</p>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="flex bg-green-600 flex-col justify-between items-center text-center bg-no-repeat bg-center h-[400px]  rounded-lg overflow-hidden  p-6"
            style="background-image: url('./assets/avatar-grigoriy.svg');">
            <div class="">
                <p class="text-white font-bold font-kanit text-lg">Grigoriy Kozhukhov</p>
                <p class="text-white text-sm  font-extralight font-josefin">+987 7654 32 109</p>
            </div>
        </div>

        <div class="hidden md:flex flex-col justify-start  items-right text-right bg-no-repeat bg-right h-[400px]  rounded-lg  p-6"
            style="background-image: url('./assets/avatar-kenjo.svg');">
            <p class="text-white font-bold font-kanit text-lg">Kenjo Assou</p>
            <p class="text-white text-sm  font-extralight font-josefin">+844 3659 11 225</p>
        </div>
    </div>

    <!-- End of smaller screens -->
    <div class="mx-auto container text-center mt-10 lg:-mt-20 mb-20">
        <div class="flex flex-row gap-x-4 justify-center lg:justify-start items-center">
            <p class="text-sm lg:text-lg opacity-60 text-grey  font-extralight font-josefin">
                All agents
            </p>
            <img src="./assets/icon-explore.svg" alt="btn-explore" class="" />
        </div>
    </div>
</section>