<div id="sell-real-estate-1"
    class=" text-white relative  h-screen bg-cover bg-top lg:bg-center 2xl:bg-right-top bg-no-repeat rounded-tl-[50px]  lg:rounded-tl-[140px]"
    style="background-image: url('./assets/bg-sell.svg'); ">
    <div class=" grid grid-cols-1  md:grid-cols-2 h-full">
        <div
            class=" flex flex-col    lg:items-start  gap-y-6 p-6 rounded-sm  font-kanit px-14 md:px-24 lg:px-32 pt-32 lg:pt-40  text-center lg:text-left">
            <h1 class="text-3xl font-semibold leading-none md:text-[36px] lg:text-4xl xl:text-6xl">
                Want to sell your home?
            </h1>
            <p class="mt-4 mb-4 text-sm lg:text-[18px] font-extralight leading-normal font-josefin opacity-65">
                How much is my home worth? Should you sell your house or buy a new home first?
            </p>
            <div
                class="flex flex-col space-y-4 items-center justify-center sm:flex-row sm:space-y-0 lg:justify-start text-center  w-full">
                <a rel="noopener noreferrer" href="#"
                    class="px-4 py-2 text-xs bg-yellow-500  lg:px-8 lg:py-3 lg:text-base   rounded bg-golden hover:bg-secondary transition duration-300 ease-in-out">Learn
                    more</a>
            </div>
        </div>
        <div class=" md:mt-20 mt-0">
            <div class=" flex h-full justify-center items-start lg:items-center ">
                <img src=" ./assets/sell.svg" alt="" class=" lg:-ml-24 object-cover bg-center" />
            </div>

        </div>
    </div>
</div>