<div id="services-real-estate-1"
    class=" text-white relative  min-h-screen bg-cover bg-top lg:bg-center 2xl:bg-right-top bg-no-repeat rounded-tr-[50px]  lg:rounded-tr-[140px]"
    style="background-image: url('./assets/bg-services.svg'); ">
    <div class="mx-auto container relative">
        <div class="flex flex-col py-20 items-center gap-y-4">
            <h2 class="text-3xl font-semibold font-kanit  leading-none md:text-[36px] lg:text-4xl xl:text-6xl">
                Best Services
            </h2>
            <p class="">We offer perfect real estate services</p>
        </div>

        <!-- cards -->
        <div
            class="grid lg:grid-cols-3 grid-cols-1 md:grid-cols-2 pb-14  gap-y-8 lg:gap-14  md:gap-10    font-kanit overflow-hidden">
            <!-- Card 1 -->
            <div
                class="flex flex-col  gap-y-6 h-[460px] bg-white mx-4 lg:mx-0 lg:h-[512px]  rounded-lg overflow-hidden px-6 py-10 lg:px-10 lg:py-14">
                <img src="./assets/icon-company.svg" alt="services" class="w-[128px]  object-cover" />
                <p class="text-grey font-bold text-3xl  xl:text-[40px] font-kanit pr-10 leading-tight">
                    Search Property</p>
                <p class="text-sm lg:text-base opacity-40 text-grey  font-extralight font-josefin leading-normal pr-6">
                    We help you find a new home by offering a smart real estate
                </p>
                <div class="pt-8 flex flex-row gap-x-4 items-center">
                    <p class="text-sm lg:text-lg opacity-60 text-grey  font-extralight font-josefin">
                        Explore
                    </p>
                    <img src="./assets/icon-explore.svg" alt="btn-explore" class="" />
                </div>
            </div>
            <!-- Card 2 -->
            <div
                class="flex flex-col  gap-y-6 h-[460px] bg-white mx-4 lg:mx-0 lg:h-[512px]  rounded-lg overflow-hidden px-6 py-10 lg:px-10 lg:py-14">
                <img src="./assets/icon-company.svg" alt="services" class="w-[128px]  object-cover" />
                <p class="text-grey font-bold text-3xl  xl:text-[40px] font-kanit pr-10 leading-tight">
                    Professional Agents
                </p>
                <p class="text-sm lg:text-base opacity-40 text-grey  font-extralight font-josefin leading-normal pr-6">
                    Find a new home by offering a smart real estate experience
                </p>
                <div class="pt-8 flex flex-row gap-x-4 items-center">
                    <p class="text-sm lg:text-lg opacity-60 text-grey  font-extralight font-josefin">
                        Explore
                    </p>
                    <img src="./assets/icon-explore.svg" alt="btn-explore" class="" />
                </div>
            </div>
            <!-- card 3 -->
            <div
                class="flex flex-col  gap-y-6 h-[460px] bg-white mx-4 lg:mx-0 lg:h-[512px]  rounded-lg overflow-hidden px-6 py-10 lg:px-10 lg:py-14">
                <img src="./assets/icon-save.svg" alt="services" class="w-[128px]  object-cover" />
                <p class="text-grey font-bold text-3xl  xl:text-[40px] font-kanit pr-10 leading-tight">
                    Buy & Sell Property</p>
                <p class="text-sm lg:text-base opacity-40 text-grey  font-extralight font-josefin leading-normal pr-6">
                    Find a new home by offering a smart real estate experience
                </p>
                <div class="pt-8 flex flex-row gap-x-4 items-center">
                    <p class="text-sm lg:text-lg opacity-60 text-grey  font-extralight font-josefin">
                        Explore
                    </p>
                    <img src="./assets/icon-explore.svg" alt="btn-explore" class="" />
                </div>
            </div>

        </div>
    </div>
</div>