@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	scroll-behavior: smooth;
	@apply text-grey font-hind-siliguri;
}

.hero {
	@apply text-grey font-hind-siliguri  text-[24px];
}
.navbar {
	@apply text-grey font-work-sans text-base font-semibold;
}

.navbar:hover {
	@apply text-secondary transform scale-105 transition duration-300 ease-in-out;
	transition-delay: 0.2s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.navbar-CTA {
	@apply px-5 font-work-sans font-bold text-sm lg:text-[16px] text-secondary py-3  bg-transparent border border-secondary uppercase rounded-md  border-opacity-20;
}
.navbar-CTA:hover {
	@apply bg-secondary text-white   transition duration-300 ease-in-out;
}


.hover:scale-animation:hover {
	@apply transform scale-105 transition duration-300 ease-in-out;
	transition-delay: 0.2s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}


/* START OF HAMBURGER MENU STYLES */
.hamburger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: all 0.3s ease-in-out;
	position: relative;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom {
	position: absolute;
	top:0;
	left: 0;
	height: 2px;
	width: 24px;
	background-color: #000;
	transform: rotate(0);
	transition: all 0.5s ease-in-out;
}

.hamburger-middle {
	
	transform: translateY(7px);
}
.hamburger-bottom {
	
	transform: translateY(14px);
}

.open {
	transform: rotate(90deg);
	transform: translateY(0px);
}

.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translate(6px);
	
}

.open .hamburger-middle {
	display: none;
}


.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translate(-6px);
	
}
/* END OF HAMBURGER MENU STYLES */
