body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

section {
  padding: 0 5%;
}

#header {
  background-image: url(./Images/Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.gallery {
  display: grid;
  grid-template-areas: 
  'main main second second'
  'main main third another';
  width: 100%;
}

.item1 { grid-area: main;    }
.item2 { grid-area: second;  }
.item3 { grid-area: third;   }
.item4 { grid-area: another; }